<link rel="stylesheet" href="{{ asset('js/bs-table/bootstrap-table.min.css') }}">
<link rel="stylesheet" href="{{ asset('js/bs-table/extensions/filter-control/bootstrap-table-filter-control.min.css') }}">

<style>
    .page-container {
        display: flex;
        justify-content: start;
        align-items: top;
        gap: 2rem;
    }

    .grow-1 {
        flex-grow: 1;
    }

    .pt-2 {
        padding-top: 0.5rem;
    }

    .border-top {
        margin-top: 2rem;
        border-top: 1px solid #ccc;
    }

    .alert-body {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .group-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .group-list li {
        margin-bottom: 0.5rem;
        padding-left: 1rem;
    }

    .group-list li::before {
        content: "\2022";
        color: #000;
        display: inline-block;
        width: 1rem;
    }
</style>
<section class="bootstrap page-container">
    <div class="panel">
        <div class="panel-heading">
            <p>Importazione dati da versione 1.6</p>
        </div>
        <div class="panel-body">
            <div class="alert alert-info">
                <ul class="group-list">
                    <li>Importare i dati <span class="badge badge-success">OK</span></li>
                    <li>Creare la tabella con i dati <span class="badge badge-success">OK</span></li>
                    <li>La tabella deve avere la riga dettaglio dell'indirizzo <span class="badge badge-success">OK</span></li>
                    <li>Modificare i dati <span class="badge badge-warning">Pending</span></li>
                </ul>
            </div>
            <button class="btn btn-primary" onclick="startImportV16();">Importa</button>
            <div class="panel-body alert-body"></div>
      </div>
    </div>
</section>
<section class="page-container">
    <div class="panel grow-1">
        <div class="panel-body">
            <div class="mt-4 border-top pt-2">
                <p>Elenco dati importati</p>
                <table class="table table-bordered table-condensed table-striped" id="table-import-result"></table>
            </div>
        </div>
    </div>
</section>
<script src="{{ asset('js/bs-table/bootstrap-table.min.js') }}"></script>
<script src="{{ asset('js/bs-table/locale/bootstrap-table-it-IT.min.js') }}"></script>
<script src="{{ asset('js/bs-table/extensions/filter-control/bootstrap-table-filter-control.min.js') }}"></script>
<script src="{{ asset('js/bs-table/extensions/multiple-sort/bootstrap-table-multiple-sort.min.js') }}"></script>
<script src="{{ asset('js/admin/adminTableCustomers.js') }}"></script>

<script type="text/javascript">
    jQuery.migrateMute = true;
    const adminControllerUrl = "{{ adminControllerUrl | raw }}";
    const adminTableCustomers = new AdminTableCustomers('table-import-result', adminControllerUrl);

    document.addEventListener("DOMContentLoaded", async(e) => {
        console.log("DOMContentLoaded AdminMpCustomerInvoice");
        adminTableCustomers.init();
    });

    function showAlert(message) {
        const alert = document.createElement('div');
        alert.className = 'alert alert-success';
        alert.innerHTML = message;

        document.querySelector('.alert-body').innerHTML = '';
        document.querySelector('.alert-body').appendChild(alert);
    }

    async function startImportV16() {
        const responseTruncate = await fetch(adminControllerUrl + '&action=truncateTable&ajax=1');
        const dataTruncate = await responseTruncate.json();
        if (!dataTruncate.success) {
            console.error("Errore: " + dataTruncate.error);
            return;
        }

        showAlert("Tabella svuotata");

        let step = 1;
        const limit=500;

        while(true) {
            let offset = (step-1) * limit;
            const responseGetCustomersData = await fetch(adminControllerUrl + `&action=getCustomersApiData&ajax=1&limit=${limit}&offset=${offset}`);
            const dataGetCustomersData = await responseGetCustomersData.json();
            if (!dataGetCustomersData.success) {
                console.error("Errore: " + dataGetCustomersData.error);
                return;
            }
            const dataResponse = dataGetCustomersData.data;

            if (dataResponse.length === 0) {
                break;
            }

            showAlert("Importazione step " + step);

            const request = {
                ajax: 1,
                action: 'importV16',
                data: JSON.stringify(dataResponse)
            };

            const responseImport = await fetch(adminControllerUrl, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams(request)
            });

            const dataImportJson = await responseImport.json();
            if (dataImportJson.errors.length > 0) {
                const errors = dataImportJson.errors.map((error) => `<p>${error}</p>`).join("<br>");
                showAlert(errors);
                //Aspetta 5 secondi per permettere di leggere l'errore
                //await new Promise((resolve) => setTimeout(resolve, 5000));
            }

            step++;
        }

        showAlert("Import terminato");
    }
</script>